h1 {
    text-align: center;
    font-family: 'Cascadia Code', sans-serif;
}

div {
    background-color: #555555;
    padding: 5px;
    border-style: solid;
    border: 200px;
    
}

body {
    background-color: #181818;
}


